<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TutorHub</title>
  <link rel="icon" type="image/ico" href="/img/TH.jpg" />


  <!-- from Bootstrap starter -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  <!-- jQuery included for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body class="container">

<div class="row">
  <div class="col-md-6 mx-auto">
    <img class="img-fluid mx-auto" src="/img/tutorhub.jpg" alt="tutorHub">
  </div>
</div>

<h1>Create a New Account</h1>

<div class="row">
  <div class="col-md-6 mx-auto my-auto form-group">
    <section class="login">
      <form enctype="multipart/form-data" method ="GET" action = "/new-account" >
        <label for="validationDefaultUsername">New Username (required)</label>
        <div class="input-group">
          <input type="text" class="form-control" id="validationDefaultUsername" name = "username" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
        </div>
        <br/>
        <label for="validationPassword">New Password (required)</label>
        <div class="input-group">
          <input type="password" class="form-control" id="validationPassword" name="password" placeholder="Password" required>
        </div>
        <br/>
        <label for="validationName">Full name (required)</label>
        <div class="input-group">
          <input type="text" class="form-control" id="validationDefaultUsername" name = "name" placeholder="John Doe" aria-describedby="inputGroupPrepend2" required>
        </div>
        <br/>
        <label for="FormMajor">Select your major (required)</label>
        <select class="form-control" id="FormMajor" name="major" required>
          <option selected disabled>Please select one</option>
          <option>Biomedical Engineering</option>
          <option>Chemical Engineering</option>
          <option>Civil Engineering</option>
          <option>Computer Engineering</option>
          <option>Computer Science</option>
          <option>Cybersecurity</option>
          <option>Electrical Engineering</option>
          <option>Industrial Engineering</option>
          <option>Information Technology</option>
          <option>Mechanical Engineering</option>
        </select>
        <br/>
        <div class="form-group">
          <label for="about">Tell a little about yourself</label>
          <textarea class="form-control" id="about" name="about" rows="5"></textarea>
        </div>
        <br/>
        <div style="text-align:center; padding: 25px;">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </section>
  </div>
</div>
<br/>
<br/>
<br/>
<p style="color: lightslategrey;">Please direct concerns or errors to help@tutorhub.com</p>
</body>

</html>

